@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:
    "Neue Machina",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}
