* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-50: #fff;
  --color-100: #b8eaff;
  --color-200: #8adcff;
  --color-300: #5cceff;
  --color-400: #2ec0ff;
  --color-500: #00b3ff;
  --color-600: #0092d1;
  --color-700: #0072a3;
  --color-800: #005275;
  --color-900: #003247;
  --color-950: #00121a;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

@font-face {
  font-family: "Cy Grotesk Grand";
  src: url("cy-grotesk-grand-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(145deg, #fffaf2 0%, #fde9d4 40%, #f8d5b3 100%);
  margin: 0;
  min-height: 100vh;
  font-family: "Cy Grotesk Grand", monospace;
}
